/* ------------------------------------------------------------------------------------------ */
@media (max-width: 1440px) {
  :root {
    --indent: 5.6%;
  }
}

/* ------------------------------------------------------------------------------------------ */
@media (max-width: 1024px) {
  :root {
    --indent: 50px;
    --accordion-max-vw: 927;
    --accordion-min-vw: 768;
    --accordion-min-height: 382;
    --accordion-height: calc((1px * var(--accordion-min-height)) + ((var(--accordion-max-height) - var(--accordion-min-height)) * (100vw - 1px * var(--accordion-min-vw)) / (var(--accordion-max-vw) - var(--accordion-min-vw))));
  }

  .header__upper {
    height: 100px;
  }

  .header__burger {
    display: flex;
  }

  .header__burger.header__burger--active {
    z-index: 9999;
  }

  .burger__line {
    transition: transform 0.4s ease-in-out, top 0.4s ease-in-out, left 0.4s ease-in-out, opacity 0.4s ease-in-out;
  }

  .header__burger.header__burger--active .burger__line:nth-child(1) {
    top: 45%;
    left: -2px;
    transition: transform 0.4s ease-in-out, top 0.4s ease-in-out, left 0.4s ease-in-out;
    transform: rotate(-45deg);
  }

  .header__burger.header__burger--active .burger__line:nth-child(2) {
    opacity: 0;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
    transform: rotate(-220deg);
  }

  .header__burger.header__burger--active .burger__line:nth-child(3) {
    top: 45%;
    left: -2px;
    width: 100%;
    transition: transform 0.4s ease-in-out, top 0.4s ease-in-out, left 0.4s ease-in-out;
    transform: rotate(-135deg);
  }

  .header__logo {
    margin-right: 0;
  }

  .header__upper-wrapper {
    opacity: 0;
    visibility: hidden;
    z-index: -500;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    flex-direction: column;
    align-items: flex-start;
    padding: 92px 0 45px;
    overflow-y: auto;
    font-weight: 600;
    pointer-events: none;
    background-color: var(--black-90);
    transition: opacity 0.2s ease-in-out, visibility 0.2s;
  }

  .header__upper-wrapper-scroll {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding: 5px var(--indent);
    overflow: auto;
    row-gap: 100px;
    scrollbar-width: thin;
    scrollbar-color: var(--grey) transparent;
  }

  .header__upper-wrapper-scroll::-webkit-scrollbar {
    width: 15px;
  }

  .header__upper-wrapper-scroll::-webkit-scrollbar-track {
    background: transparent;
  }

  .header__upper-wrapper-scroll::-webkit-scrollbar-thumb {
    border: 4px solid var(--black-90);
    border-radius: 7px;
    background-color: var(--grey);
  }

  .header__upper-wrapper.header__upper-wrapper--active {
    opacity: 1;
    visibility: visible;
    z-index: 1000;
    pointer-events: all;
    transition: opacity 0.2s ease-in-out;
  }

  .header__nav {
    width: 100%;
  }

  .nav__list {
    flex-direction: column;
    align-items: flex-start;
    font-size: 24px;
    line-height: 64px;
  }

  .nav__item {
    transform: translateX(-200px);
  }

  .header__upper-wrapper--active .nav__item {
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }

  .header__enter-link {
    opacity: 0;
    padding: 16px 89px;
    border: 2px solid var(--amethyst);
    border-radius: 100px;
    font-size: 18px;
    line-height: 25px;
    transition: opacity 0.2s ease-in-out;
  }

  .header__upper-wrapper--active .header__enter-link {
    opacity: 1;
    transition: opacity 0.7s ease-in-out, background-color 0.2s ease-in-out;
  }

  .header__enter-link::before {
    display: none;
  }

  .header__enter-link:focus-visible {
    outline-offset: 3px;
    outline: 2px solid var(--wisteria);
  }

  .header__enter-link:active {
    border-color: var(--mauve);
    color: var(--white);
    background-color: var(--studio);
  }

  .header__search-upper {
    display: flex;
  }

  .header__lower {
    display: none;
  }

  .introduction {
    margin-top: -50px;
    margin-bottom: -50px;
  }

  .introduction__content {
    max-width: 661px;
    padding-top: 105px;
  }

  .introduction__descr {
    margin-top: -12px;
    margin-bottom: 134px;
    max-width: 661px;
  }

  .introduction__btn {
    margin-bottom: 164px;
  }

  .gallery {
    background-image: url("../img/gallery-background-1024.jpg")
  }

  .gallery-wrapper {
    padding-bottom: 45px;
  }

  .choices[data-type*="select-one"] {
    margin-bottom: 107px;
  }

  .gallery__btn-wrapper {
    padding-left: 1px;
    width: 131px;
  }

  .gallery__swiper-slide {
    height: 315px;
  }

  .gallery__swiper-slide:nth-child(1) {
    background-image: url("../img/gallery-1024-1.jpg");
  }

  .gallery__swiper-slide:nth-child(2) {
    background-image: url("../img/gallery-1024-2.jpg");
  }

  .gallery__swiper-slide:nth-child(3) {
    background-image: url("../img/gallery-1024-3.jpg");
  }

  .gallery__swiper-slide:nth-child(4) {
    background-image: url("../img/gallery-1024-4.jpg");
  }

  .gallery__swiper-slide:nth-child(5) {
    background-image: url("../img/gallery-1024-5.jpg");
  }

  .gallery__swiper-slide:nth-child(6) {
    background-image: url("../img/gallery-1024-6.jpg");
  }

  .gallery__modal-item {
    height: 594px;
  }

  .gallery__modal-item:nth-child(1) .gallery__modal-picture {
    background-image: url("../img/gallery-modal-1024-1.jpg");
  }

  .gallery__modal-item:nth-child(2) .gallery__modal-picture {
    background-image: url("../img/gallery-modal-1024-2.jpg");
  }

  .gallery__modal-item:nth-child(3) .gallery__modal-picture {
    background-image: url("../img/gallery-modal-1024-3.jpg");
  }

  .gallery__modal-item:nth-child(4) .gallery__modal-picture {
    background-image: url("../img/gallery-modal-1024-4.jpg");
  }

  .gallery__modal-item:nth-child(5) .gallery__modal-picture {
    background-image: url("../img/gallery-modal-1024-5.jpg");
  }

  .gallery__modal-item:nth-child(6) .gallery__modal-picture {
    background-image: url("../img/gallery-modal-1024-6.jpg");
  }

  .catalog__accordion-list {
    max-width: 100%;
  }

  .catalog-empty .catalog__content-img {
    row-gap: 15px;
  }

  .catalog-empty .catalog__content-text {
    max-width: 410px;
    line-height: 22px;
  }

  .events__swiper-container {
    margin: 0;
  }

  .events__swiper {
    padding: 0 0 40px;
  }

  .events__swiper-btn {
    display: none;
  }

  .events__item {
    min-height: 683px;
  }

  .event-article__text {
    padding: 17px 33px 47px;
  }

  .event-article__info {
    align-self: flex-end;
    margin-bottom: 6px;
    font-weight: 400;
    text-align: end;
  }

  .event-article__info div {
    width: fit-content;
    margin-left: auto;
  }

  .event-article__title {
    margin-bottom: 6px;
  }

  .events__swiper-pagination.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
    display: block;
  }

  .projects__descr {
    width: 100.8%;
  }

  .projects-wrapper {
    padding-bottom: 79px;
  }

  .contacts-wrapper {
    padding-top: 43px;
    padding-bottom: 43px;
  }

  .contacts__location {
    font-size: 14px;
    line-height: 19px;
  }

  .contacts__location p {
    margin-bottom: 17px;
  }

  #map {
    max-height: 1035px;
  }

  .footer__socials-link svg {
    width: 60px;
  }
}

/* ------------------------------------------------------------------------------------------ */
@media (max-width: 768px) {
  :root {
    --indent: 6.6%;
    --accordion-max-vw: 713;
    --accordion-min-vw: 647;
    --accordion-height: calc((1px * var(--accordion-min-height)) + ((var(--accordion-max-height) - var(--accordion-min-height)) * (-100vw + 1px * var(--accordion-max-vw)) / (var(--accordion-max-vw) - var(--accordion-min-vw))));
  }

  .header .container {
    position: relative;
  }

  .header__search-upper {
    position: static;
  }

  .header__search-upper-form {
    width: 80px;
    padding-right: var(--indent);
    background-position: left var(--indent) center;
  }

  .header__search-upper--active .header__search-upper-form {
    width: 100%;
    padding-left: calc(var(--indent) + 30px + 7px);
  }

  .header__search-upper-form input {
    width: 100%;
    margin-right: calc((var(--indent) / 2) - 2px);
  }

  .header__search-upper-close-line {
    width: 37px;
  }

  .header__search-upper-open svg {
    width: 27px;
    height: 27px;
  }

  .introduction {
    margin-top: -50px;
    margin-bottom: -50px;
  }

  .introduction__content {
    padding-top: 155px;
  }

  .introduction__btn {
    margin-bottom: 164px;
  }

  .swiper-slide-1 {
    background-image: url("../img/introduction-768-1.jpg");
  }

  .swiper-slide-2 {
    background-image: url("../img/introduction-768-2.jpg");
  }

  .swiper-slide-3 {
    background-image: url("../img/introduction-768-3.jpg");
  }

  .gallery {
    background-image: url("../img/gallery-background-768.jpg")
  }

  .gallery-wrapper {
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 60px;
    row-gap: 30px;
  }

  .gallery__content {
    width: 100%;
  }

  .gallery__filter-form {
    width: 280px;
  }

  .choices[data-type*="select-one"] {
    margin-bottom: 40px;
  }

  .choices__list.choices__list--dropdown {
    background-color: var(--black-90);
  }

  .gallery__btn-wrapper {
    padding-left: 0;
    width: 130px;
  }

  .gallery__swiper-slide {
    height: 330px;
  }

  .gallery__swiper-slide:nth-child(1) {
    background-image: url("../img/gallery-768-1.jpg");
  }

  .gallery__swiper-slide:nth-child(2) {
    background-image: url("../img/gallery-768-2.jpg");
  }

  .gallery__swiper-slide:nth-child(3) {
    background-image: url("../img/gallery-768-3.jpg");
  }

  .gallery__swiper-slide:nth-child(4) {
    background-image: url("../img/gallery-768-4.jpg");
  }

  .gallery__swiper-slide:nth-child(5) {
    background-image: url("../img/gallery-768-5.jpg");
  }

  .gallery__swiper-slide:nth-child(6) {
    background-image: url("../img/gallery-768-6.jpg");
  }

  .gallery__modal-item {
    width: 87%;
    min-width: 0;
  }

  .gallery__modal-item:nth-child(1) .gallery__modal-picture {
    background-image: url("../img/gallery-modal-768-1.jpg");
  }

  .gallery__modal-item:nth-child(2) .gallery__modal-picture {
    background-image: url("../img/gallery-modal-768-2.jpg");
  }

  .gallery__modal-item:nth-child(3) .gallery__modal-picture {
    background-image: url("../img/gallery-modal-768-3.jpg");
  }

  .gallery__modal-item:nth-child(4) .gallery__modal-picture {
    background-image: url("../img/gallery-modal-768-4.jpg");
  }

  .gallery__modal-item:nth-child(5) .gallery__modal-picture {
    background-image: url("../img/gallery-modal-768-5.jpg");
  }

  .gallery__modal-item:nth-child(6) .gallery__modal-picture {
    background-image: url("../img/gallery-modal-768-6.jpg");
  }

  .catalog__descr {
    margin-bottom: 20px;
  }

  .catalog__content-img {
    margin-bottom: 20px;
  }

  .catalog__content-date {
    margin-bottom: 7px;
  }

  .event-article__info {
    margin-right: -16px;
  }

  .projects-wrapper {
    border-bottom: none;
  }

  .projects__title {
    margin-bottom: 16px;
  }

  .projects__descr {
    margin-bottom: 30px;
  }

  .projects__swiper-title {
    margin-bottom: 29px;
  }

  .projects__item:nth-child(1) .projects__item-link-box-img {
    content: url("../img/projects-768-1.png");
  }

  .projects__item:nth-child(2) .projects__item-link-box-img {
    content: url("../img/projects-768-2.png");
  }

  .projects__item:nth-child(3) .projects__item-link-box-img {
    content: url("../img/projects-768-3.png");
  }

  .projects__item:nth-child(4) .projects__item-link-box-img {
    content: url("../img/projects-768-4.png");
  }

  .projects__item:nth-child(5) .projects__item-link-box-img {
    content: url("../img/projects-768-5.png");
  }

  .projects__item:nth-child(6) .projects__item-link-box-img {
    content: url("../img/projects-768-6.png");
  }

  .projects__item:nth-child(7) .projects__item-link-box-img {
    content: url("../img/projects-768-7.png");
  }

  .projects__item:nth-child(8) .projects__item-link-box-img {
    content: url("../img/projects-768-8.png");
  }

  .projects__item:nth-child(9) .projects__item-link-box-img {
    content: url("../img/projects-768-9.png");
  }

  .projects__item:nth-child(1) .projects__item-link-box-img-hover {
    content: url("../img/projects-color-768-1.png");
  }

  .projects__item:nth-child(2) .projects__item-link-box-img-hover {
    content: url("../img/projects-color-768-2.png");
  }

  .projects__item:nth-child(3) .projects__item-link-box-img-hover {
    content: url("../img/projects-color-768-3.png");
  }

  .projects__item:nth-child(4) .projects__item-link-box-img-hover {
    content: url("../img/projects-color-768-4.png");
  }

  .projects__item:nth-child(5) .projects__item-link-box-img-hover {
    content: url("../img/projects-color-768-5.png");
  }

  .projects__item:nth-child(6) .projects__item-link-box-img-hover {
    content: url("../img/projects-color-768-6.png");
  }

  .projects__item:nth-child(7) .projects__item-link-box-img-hover {
    content: url("../img/projects-color-768-7.png");
  }

  .projects__item:nth-child(8) .projects__item-link-box-img-hover {
    content: url("../img/projects-color-768-8.png");
  }

  .projects__item:nth-child(9) .projects__item-link-box-img-hover {
    content: url("../img/projects-color-768-9.png");
  }

  #map {
    max-height: 1097px;
  }
}

/* ------------------------------------------------------------------------------------------ */
@media (max-width: 647px) {
  :root {
    --indent: 6.3%;
  }

  .section-title {
    font-size: 28px;
    line-height: 38px;
  }

  .introduction {
    margin-top: -40px;
    margin-bottom: -40px;
  }

  .introduction__content {
    padding-top: 120px;
    max-width: 504px;
  }

  .introduction__title {
    font-size: 47px;
    line-height: 70px;
  }

  .introduction__descr {
    margin-bottom: 90px;
    line-height: 28px;
  }

  .introduction__btn {
    margin-bottom: 120px;
  }



  .catalog__accordion {
    margin-bottom: calc(var(--indent) - var(--indent) * 2);
  }

  .catalog__content,
  .catalog-empty {
    padding-top: var(--indent);
  }

  .contacts__form-btn {
    min-width: 100%;
  }

  #map {
    max-height: 576px;

  }
}
  /* ------------------------------------------------------------------------------------------ */
  @media (min-width: 320px) and (max-width: 414px) {
    :root {
      --indent: 15px;
    }

    .introduction__content {
      align-items: center;
      margin: 0 auto;
      text-align: center;
    }

    .header__upper {
      padding: 11.5px 0;
      height: 45px;
    }

    .header__burger {
      margin-bottom: 0;
      width: 25px;
      height: 18px;
    }

    .burger__line {
      height: 2px;
    }

    .burger__line:nth-child(2) {
      width: 64%;
    }

    .burger__line:nth-child(3) {
      width: 40%;
    }

    .header__burger.header__burger--active .burger__line:nth-child(1),
    .header__burger.header__burger--active .burger__line:nth-child(3) {
      width: 80%;
    }

    .header__upper-wrapper {
      padding: 40px 0 22px;
    }

    .nav__item {
      font-size: 16px;
      line-height: 32px;
    }

    .header__enter-link {
      padding: 10px 30px;
      font-size: 12px;
      line-height: 16px;
    }

    .header__enter-link svg {
      width: 9px;
      height: 9px;
    }

    .header__search-upper-open svg {
      width: 18px;
      height: 18px;
    }

    .header__search-upper-form {
      width: 47px;
      height: 45px;
      background-size: 18px 18px;
    }

    .header__search-upper-form input {
      margin-right: var(--indent);
    }

    .header__search-upper--active .header__search-upper-form {
      width: 100%;
      padding-left: calc(var(--indent) + 18px + 10px);
    }

    .header__search-upper-close {
      width: 20px;
      height: 20px;
    }

    .header__search-upper-close-line {
      width: 20px;
      height: 2px;
    }

    .introduction {
      margin-top: -50px;
      margin-bottom: -50px;
    }

    .introduction__content {
      padding-top: 79px;
    }

    .introduction__title {
      max-width: 258px;
      font-size: 32px;
      line-height: 43px;
      margin-bottom: 15px;
    }

    .introduction__descr {
      margin-bottom: 42px;
      font-size: 12px;
      line-height: 16px;
      max-width: 265px;
      font-weight: 400;
    }

    .introduction__link {
      padding: 9px 16px;
      font-size: 12px;
      line-height: 16px;
    }

    .introduction__btn {
      padding: 9px 0;
      margin-bottom: 95px;
      font-size: 12px;
    }


    .about__title {
      margin-bottom: 11px;
    }

    .about__descr {
      font-size: 14px;
      line-height: 28px;
    }

    .gallery__title {
      margin-bottom: 11px;
    }

    .filter-form__name {
      margin-bottom: 6px;
    }

    .choices[data-type*="select-one"] {
      margin-bottom: 30px;
    }

    .gallery__swiper {
      flex-direction: column-reverse;
      justify-content: flex-end;
      max-width: 550px;
      height: auto;
      padding-top: 0;
    }

    .gallery__btn-wrapper {
      align-self: center;
      margin-bottom: 0;
    }

    .gallery__swiper-slide {
      height: auto;
      margin-bottom: 20px;
      /* aspect-ratio: 0.954 / 1; */
    }

    .catalog__descr {
      display: none;
    }

    .catalog__accordion {
      min-width: auto;
      width: 100%;
    }

    .catalog__content-wrapper {
      min-width: auto;
      width: 100%;
    }

    .catalog__content-date {
      margin-bottom: 13px;
    }

    .gallery__modal-item {
      flex-direction: column;
      width: 90%;
      height: 600px;
    }

    .gallery__modal-btn {
      top: 10px;
      right: 10px;
    }

    .gallery__modal-picture {
      width: 100%;
      height: 200px;
    }

    .gallery__modal-wrapper {
      width: 100%;
      height: auto;
    }

    .gallery__modal-wrapper-text {
      padding: 17px 20px;
    }

    .gallery__modal-wrapper-text-date {
      margin-bottom: 10px;
    }

    .catalog__accordion-list {
      max-height: none;
      height: auto;
    }

    .catalog__title {
      margin-bottom: 13px;
    }

    .about-wrapper {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .gallery-wrapper {
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .gallery__filter-form {
      width: 100%;
    }

    .catalog-wrapper {
      padding-top: 50px;
    }

    .catalog__accordion-header {
      padding: 20.5px 0;
      font-size: 18px;
    }

    .catalog__accordion-btn {
      width: 30px;
      height: 30px;
    }

    .catalog__accordion-btn svg {
      width: 10px;
    }

    .catalog__accordion-list {
      padding: 20px 0;
    }

    .catalog__accordion-empty-rect {
      height: 100%;
      flex-grow: 1;
      flex-shrink: 1;
      min-height: 130px;
      min-width: 90px;
    }

    .catalog__accordion-empty-text {
      flex-grow: 1;
      min-width: 175px;
    }

    .catalog-empty .catalog__content-img {
      row-gap: 0;
      margin-bottom: 20px;
    }

    .catalog-empty .catalog__content-img svg {
      margin-bottom: -2px;
      padding-bottom: 5px;
    }

    .catalog-empty .catalog__content-img .catalog__content-img-text {
      font-size: 18px;
      line-height: 25px;
    }

    .catalog-empty .catalog__content-text {
      margin-bottom: 4px;
    }

    .events-wrapper {
      padding-top: 50px;
    }



    .projects {
      border-bottom: none;
    }

    .projects-wrapper {
      padding-top: 50px;
      padding-bottom: 0;
    }

    .projects__descr {
      margin-bottom: 51px;
      width: 100%;
    }

    .projects__swiper-title {
      margin-bottom: 11px;
      font-size: 18px;
    }

    .projects__swiper-container {
      padding: 0 47.5px;
    }

    .contacts-wrapper {
      row-gap: 20px;
      padding: 50px 0 20px;
    }

    .contacts__location p {
      margin-bottom: 4px;
      font-size: 18px;
      line-height: 25px;
    }

    .contacts__form-input-wrapper {
      width: 100%;
    }

    .contacts__form-input {
      height: 40px;
    }

    .contacts__form-btn {
      min-width: auto;
      max-width: 44%;
      height: 40px;
      font-size: 16px;
      line-height: 16px;
    }

    .contacts__form-btn span {
      display: none;
    }

    .contacts__address-text {
      font-weight: 400;
      font-size: 18px;
    }

    .contacts__address-link svg {
      width: 50px;
      height: 50px;
    }


    .events__title {
      margin-bottom: 11px;
    }

    .events__swiper-container {
      margin: 0 auto;
      max-width: 550px;
    }

    .events__swiper {
      padding: 0 0 31px;
    }

    .event-article__text {
      padding: 20px 22px 48px;
    }

    .event-article__info {
      margin-right: -5px;
      margin-bottom: 11px;
      line-height: 15px;
    }

    .event-article__title {
      margin-bottom: 4px;
    }

    .event-article__link {
      margin-left: 6px;
    }

    .projects__title {
      margin-bottom: 12px;
    }

    .contacts__form {
      row-gap: 20px;
    }

    #map {
      max-height: 320px;
    }

    .ymaps-2-1-79-balloon__layout {
      margin-left: 0;
    }

    .footer-wrapper {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      height: 132px;
    }

    .footer__socials {
      margin-bottom: 20px;
    }

    .footer__socials-link svg {
      width: 50px;
    }

    .swiper-slide-1 {
      background-image: url("../img/introduction-320-1.jpg");
    }

    .swiper-slide-2 {
      background-image: url("../img/introduction-320-2.jpg");
    }

    .swiper-slide-3 {
      background-image: url("../img/introduction-320-3.jpg");
    }

    .gallery {
      background-image: url("../img/gallery-background-320.jpg")
    }

    .gallery__swiper-slide {
      height: auto;
      margin-bottom: 20px;
      aspect-ratio: 0.79 / 1;
    }

    .gallery__swiper-slide:nth-child(1) {
      background-image: url("../img/gallery-320-1.jpg");
    }

    .gallery__swiper-slide:nth-child(2) {
      background-image: url("../img/gallery-320-2.jpg");
    }

    .gallery__swiper-slide:nth-child(3) {
      background-image: url("../img/gallery-320-3.jpg");
    }

    .gallery__swiper-slide:nth-child(4) {
      background-image: url("../img/gallery-320-4.jpg");
    }

    .gallery__swiper-slide:nth-child(5) {
      background-image: url("../img/gallery-320-5.jpg");
    }

    .gallery__swiper-slide:nth-child(6) {
      background-image: url("../img/gallery-320-6.jpg");
    }

    .gallery__modal-item:nth-child(1) .gallery__modal-picture {
      background-image: url("../img/gallery-modal-320-1.jpg");
    }

    .gallery__modal-item:nth-child(2) .gallery__modal-picture {
      background-image: url("../img/gallery-modal-320-2.jpg");
    }

    .gallery__modal-item:nth-child(3) .gallery__modal-picture {
      background-image: url("../img/gallery-modal-320-3.jpg");
    }

    .gallery__modal-item:nth-child(4) .gallery__modal-picture {
      background-image: url("../img/gallery-modal-320-4.jpg");
    }

    .gallery__modal-item:nth-child(5) .gallery__modal-picture {
      background-image: url("../img/gallery-modal-320-5.jpg");
    }

    .gallery__modal-item:nth-child(6) .gallery__modal-picture {
      background-image: url("../img/gallery-modal-320-6.jpg");
    }

    .projects__item:nth-child(1) .projects__item-link-box-img {
      content: url("../img/projects-1920-1.png");
    }

    .projects__item:nth-child(2) .projects__item-link-box-img {
      content: url("../img/projects-1920-2.png");
    }

    .projects__item:nth-child(3) .projects__item-link-box-img {
      content: url("../img/projects-1920-3.png");
    }

    .projects__item:nth-child(4) .projects__item-link-box-img {
      content: url("../img/projects-1920-4.png");
    }

    .projects__item:nth-child(5) .projects__item-link-box-img {
      content: url("../img/projects-1920-5.png");
    }

    .projects__item:nth-child(6) .projects__item-link-box-img {
      content: url("../img/projects-1920-6.png");
    }

    .projects__item:nth-child(7) .projects__item-link-box-img {
      content: url("../img/projects-1920-7.png");
    }

    .projects__item:nth-child(8) .projects__item-link-box-img {
      content: url("../img/projects-1920-8.png");
    }

    .projects__item:nth-child(9) .projects__item-link-box-img {
      content: url("../img/projects-1920-9.png");
    }

    .projects__item:nth-child(1) .projects__item-link-box-img-hover {
      content: url("../img/projects-color-1920-1.png");
    }

    .projects__item:nth-child(2) .projects__item-link-box-img-hover {
      content: url("../img/projects-color-1920-2.png");
    }

    .projects__item:nth-child(3) .projects__item-link-box-img-hover {
      content: url("../img/projects-color-1920-3.png");
    }

    .projects__item:nth-child(4) .projects__item-link-box-img-hover {
      content: url("../img/projects-color-1920-4.png");
    }

    .projects__item:nth-child(5) .projects__item-link-box-img-hover {
      content: url("../img/projects-color-1920-5.png");
    }

    .projects__item:nth-child(6) .projects__item-link-box-img-hover {
      content: url("../img/projects-color-1920-6.png");
    }

    .projects__item:nth-child(7) .projects__item-link-box-img-hover {
      content: url("../img/projects-color-1920-7.png");
    }

    .projects__item:nth-child(8) .projects__item-link-box-img-hover {
      content: url("../img/projects-color-1920-8.png");
    }

    .projects__item:nth-child(9) .projects__item-link-box-img-hover {
      content: url("../img/projects-color-1920-9.png");
    }
  }