@media (max-width: 1440px) {
  :root {
    --indent: 6%;
  }
}

@media (max-width:1024px) {
  :root {
    --indent: 4.9vw;
  }

  .header__search-upper-form input {
    margin-right: 24px;
  }

  .header__upper {
    height: 100px;
  }

  .header__burger {
    display: flex;
  }

  .header__burger.header__burger--active {
    z-index: 10000;
  }

  .burger__line {
    transition: transform 0.4s ease-in-out, top 0.4s ease-in-out, left 0.4s ease-in-out, opacity 0.4s ease-in-out;
  }

  .header__burger.header__burger--active .burger__line:nth-child(1) {
    top: 45%;
    left: -2px;
    transform: rotate(-45deg);
    transition: transform 0.4s ease-in-out, top 0.4s ease-in-out, left 0.4s ease-in-out;
  }

  .header__burger.header__burger--active .burger__line:nth-child(2) {
    transform: rotate(-220deg);
    opacity: 0;
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
  }

  .header__burger.header__burger--active .burger__line:nth-child(3) {
    top: 45%;
    left: -2px;
    width: 100%;
    transform: rotate(-135deg);
    transition: transform 0.4s ease-in-out, top 0.4s ease-in-out, left 0.4s ease-in-out;
  }

  .header__logo {
    margin-right: 0;
  }

  .header__logo svg {
    margin-left: -7px;
    width: 187px;
    height: 44px;
  }

  .header__upper-wrapper {
    position: fixed;
    flex-direction: column;
    align-items: flex-start;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 92px 0 45px;
    font-weight: 600;
    background-color: var(--black-90);
    opacity: 0;
    overflow-y: auto;
    pointer-events: none;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0s 0.2s;
    z-index: -500;
  }

  .header__upper-wrapper-scroll  {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding: 5px 48px;
    overflow: auto;
    row-gap: 100px;
    scrollbar-width: thin;
    scrollbar-color: var(--grey) transparent; 
  }

  .header__upper-wrapper-scroll::-webkit-scrollbar {
    width: 15px;
  }
  
  .header__upper-wrapper-scroll::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .header__upper-wrapper-scroll::-webkit-scrollbar-thumb {
    border: 4px solid var(--black-90);
    border-radius: 7px;
    background-color: var(--grey);
  }
  
  .header__upper-wrapper.header__upper-wrapper--active {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
    transition: opacity 0.2s ease-in-out;
    z-index: 1000;
  }

  .header__nav {
    width: 100%;
  }

  .nav__list {
    flex-direction: column;
    align-items: flex-start;
    font-size: 24px;
    line-height: 64px;
  }

  .nav__item {
    transform: translateX(-200px);
   transition: transform 0.6s ease-in-out;
  }

  .header__upper-wrapper--active .nav__item {
    transform: translateX(0);
    /* transition: transform 0.6s ease-in-out */
  }



  .header__enter-link {
    padding: 16px 89px;
    border-radius: 100px;
    border: 2px solid var(--amethyst);
    font-size: 18px;
    line-height: 25px;
    opacity: 0;
    transition: opacity 0s 0.2s ease-in-out;
  }

  .header__upper-wrapper--active .header__enter-link {
    opacity: 1;
    transition: opacity 0.7s ease-in-out, background-color 0.2s ease-in-out;
  }

  .header__enter-link::before {
    display: none;
  }

  .header__enter-link:focus-visible {
    outline-offset: 3px;
    outline: 2px solid var(--wisteria);
  }

  .header__enter-link:active {
    border-color: var(--mauve);
    color: var(--white);
    background-color: var(--studio);
  }

  .header__search-upper {
    display: flex;
  }

  .header__lower {
    display: none;
  }

  .introduction {
    margin-top: -50px;
    margin-bottom: -50px;
  }

  /* .introduction .swiper-wrapper {
      min-height: 100%;
  } */
  .swiper-slide-1 {
    background-image: url("../img/introduction-1024-1.jpg");
  }

  .swiper-slide-2 {
    background-image: url("../img/introduction-1024-2.jpg");
  }

  .swiper-slide-3 {
    background-image: url("../img/introduction-1024-3.jpg");
  }

  .introduction__content {
    max-width: 630px;
    padding-top: 105px;
  }

  .introduction__descr {
    margin-top: -12px;
    margin-bottom: 134px;
    max-width: 100%;
  }

  .introduction__btn {
    margin-bottom: 164px;
  }

  .gallery {
    background-image: url("../img/gallery-background-576.jpg")
  }

  .gallery-wrapper {
    padding-bottom: 45px;
  }

  .choices[data-type*="select-one"] {
    margin-bottom: 107px;
  }

  .gallery__btn-wrapper {
    padding-left: 1px;
    width: 131px;
  }

  .gallery__swiper-slide {
    height: 315px;
  }

  .gallery__swiper-slide:nth-child(1) {
    background-image: url("../img/gallery-1024-1.jpg");
  }

  .gallery__swiper-slide:nth-child(2) {
    background-image: url("../img/gallery-1024-2.jpg");
  }

  .gallery__swiper-slide:nth-child(3) {
    background-image: url("../img/gallery-1024-3.jpg");
  }

  .gallery__swiper-slide:nth-child(4) {
    background-image: url("../img/gallery-1024-4.jpg");
  }

  .gallery__swiper-slide:nth-child(5) {
    background-image: url("../img/gallery-1024-5.jpg");
  }

  .gallery__swiper-slide:nth-child(6) {
    background-image: url("../img/gallery-1024-6.jpg");
  }

  .gallery__swiper-slide:nth-child(7) {
    background-image: url("../img/gallery-1024-7.jpg");
  }

  .gallery__swiper-slide:nth-child(8) {
    background-image: url("../img/gallery-1024-8.jpg");
  }

  .gallery__swiper-slide:nth-child(9) {
    background-image: url("../img/gallery-1024-9.jpg");
  }

  .gallery__swiper-slide:nth-child(10) {
    background-image: url("../img/gallery-1024-10.jpg");
  }

  .gallery__swiper-slide:nth-child(11) {
    background-image: url("../img/gallery-1024-11.jpg");
  }

  .gallery__swiper-slide:nth-child(12) {
    background-image: url("../img/gallery-1024-12.jpg");
  }

  .gallery__modal-item {
    height: 594px;
  }

  .gallery__modal-item:nth-child(1) .gallery__modal-picture {
    background-image: url("../img/gallery-modal-1024-1.jpg");
  }

  .gallery__modal-item:nth-child(2) .gallery__modal-picture {
    background-image: url("../img/gallery-modal-1024-2.jpg");
  }

  .gallery__modal-item:nth-child(3) .gallery__modal-picture {
    background-image: url("../img/gallery-modal-1024-3.jpg");
  }

  .gallery__modal-item:nth-child(4) .gallery__modal-picture {
    background-image: url("../img/gallery-modal-1024-4.jpg");
  }

  .gallery__modal-item:nth-child(5) .gallery__modal-picture {
    background-image: url("../img/gallery-modal-1024-5.jpg");
  }

  .gallery__modal-item:nth-child(6) .gallery__modal-picture {
    background-image: url("../img/gallery-modal-1024-6.jpg");
  }

  .gallery__modal-item:nth-child(7) .gallery__modal-picture {
    background-image: url("../img/gallery-modal-1024-7.jpg");
  }

  .gallery__modal-item:nth-child(8) .gallery__modal-picture {
    background-image: url("../img/gallery-modal-1024-8.jpg");
  }

  .gallery__modal-item:nth-child(9) .gallery__modal-picture {
    background-image: url("../img/gallery-modal-1024-9.jpg");
  }

  .gallery__modal-item:nth-child(10) .gallery__modal-picture {
    background-image: url("../img/gallery-modal-1024-10.jpg");
  }

  .gallery__modal-item:nth-child(11) .gallery__modal-picture {
    background-image: url("../img/gallery-modal-1024-11.jpg");
  }

  .gallery__modal-item:nth-child(12) .gallery__modal-picture {
    background-image: url("../img/gallery-modal-1024-12.jpg");
  }

  .catalog__accordion-list {
    --ac-max-vw: 860;
    --ac-min-vw: 768;
    --ac-height: calc((var(--ac-min-height) * 1px) + ((var(--ac-max-height) - var(--ac-min-height)) * (100vw - var(--ac-min-vw) * 1px) / (var(--ac-max-vw) - var(--ac-min-vw))));
  }

  .catalog-empty .catalog__content-img {
    row-gap: 15px;
  }

  .catalog-empty .catalog__content-text {
    max-width: 410px;
    line-height: 22px;
  }

  .events {
    padding-bottom: 40px;
  }

  .events__swiper-container {
    margin: 0;
  }

  .events__swiper {
    padding: 0 0 40px;
  }

  .events__swiper-btn {
    display: none;
  }

  .events__item {
    min-height: 683px;
  }

  .event-article__text {
    padding: 17px 33px 47px;
  }

  .event-article__info {
    align-self: flex-end;
    margin-bottom: 6px;
    font-weight: 400;
    text-align: end;
  }

  .event-article__info div {
    margin-left: auto;
    width: fit-content;
  }

  .event-article__title {
    margin-bottom: 6px;
  }

  .events__swiper-pagination.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
    display: block;
  }

  .contacts-wrapper {
    padding: 43px 0 43px;
  }

  .contacts__location {
    font-size: 14px;
    line-height: 19px;
  }

  .contacts__location p {
    margin-bottom: 17px;
  }

  .footer__socials-link svg {
    width: 60px;
  }

  /* @media (hover: hover) {
    .link:hover.link::after {
      opacity: 1;
    }
  }

  @media (hover: hover) {
    .header__enter-link:hover {
      color: var(--white);
      background-color: var(--amethyst);
    }
  } */
}

@media (max-width: 768px) {
  :root {
    --indent: 5vw;
  }

  .header .container {
    position: relative;
  }

  .header__search-upper {
    position: static;
  }

  .header__search-upper-form {
    padding-right: 25px;
    width: 80px;
    background-position: left 25px center;
  }

  .header__search-upper--active .header__search-upper-form {
    padding-left: 65px;
    width: 100%;
  }

  .header__search-upper-form input {
    width: 100%;
    margin-right: 23px;
  }

  .header__search-upper-close-line {
    width: 37px;
  }

  .header__search-upper-open svg {
    width: 27px;
    height: 27px;
  }

  .introduction {
    margin-top: -60px;
    margin-bottom: -60px;
  }

  .introduction__content {
    padding-top: 155px;
  }

  .swiper-slide-1 {
    background-image: url("../img/introduction-768-1.jpg");
  }

  .swiper-slide-2 {
    background-image: url("../img/introduction-768-2.jpg");
  }

  .swiper-slide-3 {
    background-image: url("../img/introduction-768-3.jpg");
  }

  .gallery {
    padding-bottom: 60px;
  }

  .choices[data-type*="select-one"] {
    margin-bottom: 40px;
  }

  .choices__list.choices__list--dropdown {
    background-color: var(--black-90);
  }

  .gallery__btn-wrapper {
    padding-left: 0;
    width: 130px;
  }

  .gallery__swiper-slide {
    height: 330px;
  }

  .gallery__swiper-slide:nth-child(1) {
    background-image: url("../img/gallery-768-1.jpg");
  }

  .gallery__swiper-slide:nth-child(2) {
    background-image: url("../img/gallery-768-2.jpg");
  }

  .gallery__swiper-slide:nth-child(3) {
    background-image: url("../img/gallery-768-3.jpg");
  }

  .gallery__swiper-slide:nth-child(4) {
    background-image: url("../img/gallery-768-4.jpg");
  }

  .gallery__swiper-slide:nth-child(5) {
    background-image: url("../img/gallery-768-5.jpg");
  }

  .gallery__swiper-slide:nth-child(6) {
    background-image: url("../img/gallery-768-6.jpg");
  }

  .gallery__swiper-slide:nth-child(7) {
    background-image: url("../img/gallery-768-7.jpg");
  }

  .gallery__swiper-slide:nth-child(8) {
    background-image: url("../img/gallery-768-8.jpg");
  }

  .gallery__swiper-slide:nth-child(9) {
    background-image: url("../img/gallery-768-9.jpg");
  }

  .gallery__swiper-slide:nth-child(10) {
    background-image: url("../img/gallery-768-10.jpg");
  }

  .gallery__swiper-slide:nth-child(11) {
    background-image: url("../img/gallery-768-11.jpg");
  }

  .gallery__swiper-slide:nth-child(12) {
    background-image: url("../img/gallery-768-12.jpg");
  }

  .gallery__modal-item {
    min-width: 0;
    width: 87%;
  }

  .gallery__modal-item:nth-child(1) .gallery__modal-picture {
    background-image: url("../img/gallery-modal-768-1.jpg");
  }

  .gallery__modal-item:nth-child(2) .gallery__modal-picture {
    background-image: url("../img/gallery-modal-768-2.jpg");
  }

  .gallery__modal-item:nth-child(3) .gallery__modal-picture {
    background-image: url("../img/gallery-modal-768-3.jpg");
  }

  .gallery__modal-item:nth-child(4) .gallery__modal-picture {
    background-image: url("../img/gallery-modal-768-4.jpg");
  }

  .gallery__modal-item:nth-child(5) .gallery__modal-picture {
    background-image: url("../img/gallery-modal-768-5.jpg");
  }

  .gallery__modal-item:nth-child(6) .gallery__modal-picture {
    background-image: url("../img/gallery-modal-768-6.jpg");
  }

  .gallery__modal-item:nth-child(7) .gallery__modal-picture {
    background-image: url("../img/gallery-modal-768-7.jpg");
  }

  .gallery__modal-item:nth-child(8) .gallery__modal-picture {
    background-image: url("../img/gallery-modal-768-8.jpg");
  }

  .gallery__modal-item:nth-child(9) .gallery__modal-picture {
    background-image: url("../img/gallery-modal-768-9.jpg");
  }

  .gallery__modal-item:nth-child(10) .gallery__modal-picture {
    background-image: url("../img/gallery-modal-768-10.jpg");
  }

  .gallery__modal-item:nth-child(11) .gallery__modal-picture {
    background-image: url("../img/gallery-modal-768-11.jpg");
  }

  .gallery__modal-item:nth-child(12) .gallery__modal-picture {
    background-image: url("../img/gallery-modal-768-12.jpg");
  }

  .catalog__descr {
    margin-bottom: 20px;
  }

  .catalog__accordion-list {
    --ac-max-vw: 768;
    --ac-min-vw: 700;
    --ac-max-height: 445;
    --ac-height: calc((var(--ac-min-height) * 1px) + ((var(--ac-max-height) - var(--ac-min-height)) * (-100vw + var(--ac-max-vw) * 1px) / (var(--ac-max-vw) - var(--ac-min-vw))));
  }

  .catalog__content-img {
    margin-bottom: 20px;
  }

  .catalog__content-date {
    margin-bottom: 7px;
  }

  .events {
    padding-top: 41px;
  }

  .event-article__info {
    margin-right: -16px;
  }

  .projects-wrapper {
    border-bottom: none;
  }

  .projects__title {
    margin-bottom: 12px;
  }

  .projects__descr {
    margin-bottom: 30px;
  }

  .projects__swiper-title {
    margin-bottom: 29px;
  }

  .projects__item:nth-child(1) .projects__item-link-box-img {
    content: url("../img/projects-768-1.png");
  }

  .projects__item:nth-child(2) .projects__item-link-box-img {
    content: url("../img/projects-768-2.png");
  }

  .projects__item:nth-child(3) .projects__item-link-box-img {
    content: url("../img/projects-768-3.png");
  }

  .projects__item:nth-child(4) .projects__item-link-box-img {
    content: url("../img/projects-768-4.png");
  }

  .projects__item:nth-child(5) .projects__item-link-box-img {
    content: url("../img/projects-768-5.png");
  }

  .projects__item:nth-child(6) .projects__item-link-box-img {
    content: url("../img/projects-768-6.png");
  }

  .projects__item:nth-child(7) .projects__item-link-box-img {
    content: url("../img/projects-768-7.png");
  }

  .projects__item:nth-child(8) .projects__item-link-box-img {
    content: url("../img/projects-768-8.png");
  }

  .projects__item:nth-child(9) .projects__item-link-box-img {
    content: url("../img/projects-768-9.png");
  }

  .projects__item:nth-child(1) .projects__item-link-box-img-hover {
    content: url("../img/projects-color-768-1.png");
  }

  .projects__item:nth-child(2) .projects__item-link-box-img-hover {
    content: url("../img/projects-color-768-2.png");
  }

  .projects__item:nth-child(3) .projects__item-link-box-img-hover {
    content: url("../img/projects-color-768-3.png");
  }

  .projects__item:nth-child(4) .projects__item-link-box-img-hover {
    content: url("../img/projects-color-768-4.png");
  }

  .projects__item:nth-child(5) .projects__item-link-box-img-hover {
    content: url("../img/projects-color-768-5.png");
  }

  .projects__item:nth-child(6) .projects__item-link-box-img-hover {
    content: url("../img/projects-color-768-6.png");
  }

  .projects__item:nth-child(7) .projects__item-link-box-img-hover {
    content: url("../img/projects-color-768-7.png");
  }

  .projects__item:nth-child(8) .projects__item-link-box-img-hover {
    content: url("../img/projects-color-768-8.png");
  }

  .projects__item:nth-child(9) .projects__item-link-box-img-hover {
    content: url("../img/projects-color-768-9.png");
  }

}

@media (max-width: 642px) {
  .introduction__title {
    font-size: 60px;
    line-height: 80px;
  }

  .introduction__descr {
    margin-top: -7px;
  }
}

@media (max-width: 576px) {
  :root {
    --indent: 6.6vw;
  }

  .header__search-upper-form input {
    margin-right: 10px;
  }

  .section-title {
    font-size: 28px;
    line-height: 38px;
  }

  .swiper-slide-1 {
    background-image: url("../img/introduction-576-1.jpg");
  }

  .swiper-slide-2 {
    background-image: url("../img/introduction-576-2.jpg");
  }

  .swiper-slide-3 {
    background-image: url("../img/introduction-576-3.jpg");
  }

  .introduction__content {
    align-items: center;
    text-align: center;
    margin: 0 auto;
  }

  .introduction__title {
    font-size: 45px;
    line-height: 60px;
  }

  .introduction__descr {
    margin-top: 0;
    margin-bottom: 100px;
  }

  .about {
    padding: 50px 0 42px 0;
  }

  .about__title {
    margin-bottom: 11px;
  }

  .about__descr {
    font-size: 14px;
    line-height: 28px;
  }

  .gallery {
    padding: 50px 0 48px 0;
  }

  .gallery-wrapper {
    justify-content: center;
    row-gap: 30px;
  }

  .gallery__content {
    width: 100%;
  }

  .gallery__title {
    margin-bottom: 11px;
  }

  .filter-form__name {
    margin-bottom: 6px;
  }

  .choices[data-type*="select-one"] {
    margin-bottom: 30px;
  }

  .gallery__swiper {
    flex-direction: column-reverse;
    justify-content: flex-end;
    padding-top: 0;
    max-width: 500px;
    height: auto;
  }

  .gallery__btn-wrapper {
    align-self: center;
    margin-bottom: 0;
  }

  .gallery__swiper-wrapper {
    margin-bottom: 20px;
  }

  .gallery__swiper-slide {
    height: auto;
    aspect-ratio: 0.79 / 1;
  }

  .gallery__swiper-slide:nth-child(1) {
    background-image: url("../img/gallery-576-1.jpg");
  }

  .gallery__swiper-slide:nth-child(2) {
    background-image: url("../img/gallery-576-2.jpg");
  }

  .gallery__swiper-slide:nth-child(3) {
    background-image: url("../img/gallery-576-3.jpg");
  }

  .gallery__swiper-slide:nth-child(4) {
    background-image: url("../img/gallery-576-4.jpg");
  }

  .gallery__swiper-slide:nth-child(5) {
    background-image: url("../img/gallery-576-5.jpg");
  }

  .gallery__swiper-slide:nth-child(6) {
    background-image: url("../img/gallery-576-6.jpg");
  }

  .gallery__swiper-slide:nth-child(7) {
    background-image: url("../img/gallery-576-7.jpg");
  }

  .gallery__swiper-slide:nth-child(8) {
    background-image: url("../img/gallery-576-8.jpg");
  }

  .gallery__swiper-slide:nth-child(9) {
    background-image: url("../img/gallery-576-9.jpg");
  }

  .gallery__swiper-slide:nth-child(10) {
    background-image: url("../img/gallery-576-10.jpg");
  }

  .gallery__swiper-slide:nth-child(11) {
    background-image: url("../img/gallery-576-11.jpg");
  }

  .gallery__swiper-slide:nth-child(12) {
    background-image: url("../img/gallery-576-12.jpg");
  }

  .gallery__modal-item {
    flex-direction: column;
    width: 90%;
    height: 600px;
  }

  .gallery__modal-btn {
    top: 10px;
    right: 10px;
  }

  .gallery__modal-picture {
    width: 100%;
    height: 200px;
  }

  .gallery__modal-wrapper {
    width: 100%;
    height: auto;
  }

  .gallery__modal-wrapper-text {
    padding: 17px 20px;
  }

  .gallery__modal-wrapper-text-date {
    margin-bottom: 10px;
  }

  .gallery__modal-item:nth-child(1) .gallery__modal-picture {
    background-image: url("../img/gallery-modal-576-1.jpg");
  }

  .gallery__modal-item:nth-child(2) .gallery__modal-picture {
    background-image: url("../img/gallery-modal-576-2.jpg");
  }

  .gallery__modal-item:nth-child(3) .gallery__modal-picture {
    background-image: url("../img/gallery-modal-576-3.jpg");
  }

  .gallery__modal-item:nth-child(4) .gallery__modal-picture {
    background-image: url("../img/gallery-modal-576-4.jpg");
  }

  .gallery__modal-item:nth-child(5) .gallery__modal-picture {
    background-image: url("../img/gallery-modal-576-5.jpg");
  }

  .gallery__modal-item:nth-child(6) .gallery__modal-picture {
    background-image: url("../img/gallery-modal-576-6.jpg");
  }

  .gallery__modal-item:nth-child(7) .gallery__modal-picture {
    background-image: url("../img/gallery-modal-576-7.jpg");
  }

  .gallery__modal-item:nth-child(8) .gallery__modal-picture {
    background-image: url("../img/gallery-modal-576-8.jpg");
  }

  .gallery__modal-item:nth-child(9) .gallery__modal-picture {
    background-image: url("../img/gallery-modal-576-9.jpg");
  }

  .gallery__modal-item:nth-child(10) .gallery__modal-picture {
    background-image: url("../img/gallery-modal-576-10.jpg");
  }

  .gallery__modal-item:nth-child(11) .gallery__modal-picture {
    background-image: url("../img/gallery-modal-576-11.jpg");
  }

  .gallery__modal-item:nth-child(12) .gallery__modal-picture {
    background-image: url("../img/gallery-modal-576-12.jpg");
  }

  .catalog {
    padding: 50px 0;
  }

  .catalog__descr {
    display: none;
  }

  .catalog__accordion {
    min-width: auto;
    width: 100%;
  }

  .catalog__content-wrapper {
    min-width: auto;
    width: 100%;
  }

  .catalog__content-date {
    margin-bottom: 13px;
  }

  .catalog__accordion {
    margin-bottom: calc(var(--indent) - var(--indent) * 2);
  }

  .catalog__content,
  .catalog-empty {
    padding-top: var(--indent);
  }

  .events {
    padding-top: 0;
  }

  .events__title {
    margin-bottom: 11px;
  }

  .events__swiper-container {
    margin: 0 auto;
    max-width: 500px;
  }

  .events__swiper {
    padding: 0 0 31px;
  }

  .event-article__text {
    padding: 20px 22px 48px;
  }

  .event-article__info {
    margin-right: -5px;
    margin-bottom: 11px;
    line-height: 15px;
  }

  .event-article__title {
    margin-bottom: 4px;
  }

  .event-article__link {
    margin-left: 6px;
  }

  .projects {
    padding: 10px 0;
    border-bottom: none;
  }

  .projects__title {
    margin-bottom: 12px;
  }

  .contacts__form {
    row-gap: 20px;
  }

  .contacts__form-btn {
    min-width: 100%;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  :root {
    --indent: 15px;
  }

  .header__upper {
    padding: 11.5px 0;
    height: 45px;
  }

  .header__burger {
    margin-bottom: 0;
    width: 25px;
    height: 18px;
  }

  .burger__line {
    height: 2px;
  }

  .burger__line:nth-child(2) {
    width: 63%;
  }

  .burger__line:nth-child(3) {
    width: 40%;
  }

  .header__burger.header__burger--active .burger__line:nth-child(1),
  .header__burger.header__burger--active .burger__line:nth-child(3) {
    width: 80%;
  }

  .header__logo svg {
    margin-left: -7px;
    width: 97px;
    height: 22px;
  }

  .header__upper-wrapper {
    padding: 40px 0 22px;
  }

  .header__upper-wrapper-scroll {
    padding: 5px 15px;
  }

  .nav__item {
    font-size: 16px;
    line-height: 32px;
  }

  .header__enter-link {
    padding: 10px 30px;
    font-size: 12px;
    line-height: 16px;
  }

  .header__enter-link svg {
    width: 9px;
    height: 9px;
  }

  .header__search-upper-open svg {
    width: 18px;
    height: 18px;
  }

  .header__search-upper-form {
    padding-right: 15px;
    width: 47px;
    height: 45px;
    background-size: 18px 18px;
    background-position: left 15px center;
  }

  .header__search-upper--active .header__search-upper-form {
    padding-left: 40px;
  }

  .header__search-upper-close {
    width: 20px;
    height: 20px;
  }

  .header__search-upper-close-line {
    width: 20px;
    height: 2px;
  }

  .introduction {
    margin-top: -50px;
    margin-bottom: -50px;
  }

  .introduction__content {
    padding-top: 95px;
  }

  .introduction__title {
    max-width: 260px;
    font-size: 32px;
    line-height: 44px;
  }

  .introduction__descr {
    margin-bottom: 43px;
    font-size: 12px;
    line-height: 16px;
  }

  .introduction__link {
    padding: 9px 16px;
    font-size: 12px;
    line-height: 16px;
  }

  .catalog__title {
    margin-bottom: 13px;
  }

  .introduction__btn {
    padding: 9px 0;
    margin-bottom: 95px;
    font-size: 12px;
  }

  .catalog__accordion-header {
    padding: 20.5px 0;
    font-size: 18px;
  }

  .catalog__accordion-btn {
    width: 30px;
    height: 30px;
  }

  .catalog__accordion-btn svg {
    width: 10px;
  }

  .catalog__accordion-list {
    padding: 20px 0;
  }

  .catalog__accordion-empty-rect {
    height: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    min-height: 130px;
    min-width: 90px;
  }

  .catalog__accordion-empty-text {
    flex-grow: 1;
    min-width: 175px;
  }

  .catalog-empty .catalog__content-img {
    row-gap: 0;
    margin-bottom: 20px;
  }

  .catalog-empty .catalog__content-img svg {
    margin-bottom: -2px;
    padding-bottom: 5px;
  }

  .catalog-empty .catalog__content-img .catalog__content-img-text {
    font-size: 18px;
    line-height: 25px;
  }

  .catalog-empty .catalog__content-text {
    margin-bottom: 4px;
  }

  .projects__descr {
    margin-bottom: 51px;
  }

  .projects__swiper-title {
    margin-bottom: 11px;
    font-size: 18px;
  }

  .projects__swiper-container {
    padding: 0 47.5px;
  }

  .projects__item:nth-child(1) .projects__item-link-box-img {
    content: url("../img/projects-1920-1.png");
  }

  .projects__item:nth-child(2) .projects__item-link-box-img {
    content: url("../img/projects-1920-2.png");
  }

  .projects__item:nth-child(3) .projects__item-link-box-img {
    content: url("../img/projects-1920-3.png");
  }

  .projects__item:nth-child(4) .projects__item-link-box-img {
    content: url("../img/projects-1920-4.png");
  }

  .projects__item:nth-child(5) .projects__item-link-box-img {
    content: url("../img/projects-1920-5.png");
  }

  .projects__item:nth-child(6) .projects__item-link-box-img {
    content: url("../img/projects-1920-6.png");
  }

  .projects__item:nth-child(7) .projects__item-link-box-img {
    content: url("../img/projects-1920-7.png");
  }

  .projects__item:nth-child(8) .projects__item-link-box-img {
    content: url("../img/projects-1920-8.png");
  }

  .projects__item:nth-child(9) .projects__item-link-box-img {
    content: url("../img/projects-1920-9.png");
  }

  .projects__item:nth-child(1) .projects__item-link-box-img-hover {
    content: url("../img/projects-color-1920-1.png");
  }

  .projects__item:nth-child(2) .projects__item-link-box-img-hover {
    content: url("../img/projects-color-1920-2.png");
  }

  .projects__item:nth-child(3) .projects__item-link-box-img-hover {
    content: url("../img/projects-color-1920-3.png");
  }

  .projects__item:nth-child(4) .projects__item-link-box-img-hover {
    content: url("../img/projects-color-1920-4.png");
  }

  .projects__item:nth-child(5) .projects__item-link-box-img-hover {
    content: url("../img/projects-color-1920-5.png");
  }

  .projects__item:nth-child(6) .projects__item-link-box-img-hover {
    content: url("../img/projects-color-1920-6.png");
  }

  .projects__item:nth-child(7) .projects__item-link-box-img-hover {
    content: url("../img/projects-color-1920-7.png");
  }

  .projects__item:nth-child(8) .projects__item-link-box-img-hover {
    content: url("../img/projects-color-1920-8.png");
  }

  .projects__item:nth-child(9) .projects__item-link-box-img-hover {
    content: url("../img/projects-color-1920-9.png");
  }

  .contacts-wrapper {
    row-gap: 20px;
    padding: 30px 0 20px;
  }

  .contacts__location p {
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 25px;
  }

  .contacts__form-input-wrapper {
    width: 100%;
  }

  .contacts__form-input {
    height: 40px;
  }

  .contacts__form-btn {
    min-width: auto;
    max-width: 44%;
    height: 40px;
    font-size: 16px;
    line-height: 16px;
  }

  .contacts__form-btn span {
    display: none;
  }

  .contacts__address-text {
    font-weight: 400;
    font-size: 18px;
  }

  .contacts__address-link svg {
    width: 50px;
    height: 50px;
  }

  .footer-wrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    height: 132px;
  }

  .footer__socials {
    margin-bottom: 20px;
  }

  .footer__socials-link svg {
    width: 50px;
  }

  .swiper-slide-1 {
    background-image: url("../img/introduction-320-1.jpg");
  }

  .swiper-slide-2 {
    background-image: url("../img/introduction-320-2.jpg");
  }

  .swiper-slide-3 {
    background-image: url("../img/introduction-320-3.jpg");
  }

  .gallery__swiper-slide:nth-child(1) {
    background-image: url("../img/gallery-320-1.jpg");
  }

  .gallery__swiper-slide:nth-child(2) {
    background-image: url("../img/gallery-320-2.jpg");
  }

  .gallery__swiper-slide:nth-child(3) {
    background-image: url("../img/gallery-320-3.jpg");
  }

  .gallery__swiper-slide:nth-child(4) {
    background-image: url("../img/gallery-320-4.jpg");
  }

  .gallery__swiper-slide:nth-child(5) {
    background-image: url("../img/gallery-320-5.jpg");
  }

  .gallery__swiper-slide:nth-child(6) {
    background-image: url("../img/gallery-320-6.jpg");
  }

  .gallery__swiper-slide:nth-child(7) {
    background-image: url("../img/gallery-320-7.jpg");
  }

  .gallery__swiper-slide:nth-child(8) {
    background-image: url("../img/gallery-320-8.jpg");
  }

  .gallery__swiper-slide:nth-child(9) {
    background-image: url("../img/gallery-320-9.jpg");
  }

  .gallery__swiper-slide:nth-child(10) {
    background-image: url("../img/gallery-320-10.jpg");
  }

  .gallery__swiper-slide:nth-child(11) {
    background-image: url("../img/gallery-320-11.jpg");
  }

  .gallery__swiper-slide:nth-child(12) {
    background-image: url("../img/gallery-320-12.jpg");
  }

  .gallery__modal-item:nth-child(1) .gallery__modal-picture {
    background-image: url("../img/gallery-modal-320-1.jpg");
  }

  .gallery__modal-item:nth-child(2) .gallery__modal-picture {
    background-image: url("../img/gallery-modal-320-2.jpg");
  }

  .gallery__modal-item:nth-child(3) .gallery__modal-picture {
    background-image: url("../img/gallery-modal-320-3.jpg");
  }

  .gallery__modal-item:nth-child(4) .gallery__modal-picture {
    background-image: url("../img/gallery-modal-320-4.jpg");
  }

  .gallery__modal-item:nth-child(5) .gallery__modal-picture {
    background-image: url("../img/gallery-modal-320-5.jpg");
  }

  .gallery__modal-item:nth-child(6) .gallery__modal-picture {
    background-image: url("../img/gallery-modal-320-6.jpg");
  }

  .gallery__modal-item:nth-child(7) .gallery__modal-picture {
    background-image: url("../img/gallery-modal-320-7.jpg");
  }

  .gallery__modal-item:nth-child(8) .gallery__modal-picture {
    background-image: url("../img/gallery-modal-320-8.jpg");
  }

  .gallery__modal-item:nth-child(9) .gallery__modal-picture {
    background-image: url("../img/gallery-modal-320-9.jpg");
  }

  .gallery__modal-item:nth-child(10) .gallery__modal-picture {
    background-image: url("../img/gallery-modal-320-10.jpg");
  }

  .gallery__modal-item:nth-child(11) .gallery__modal-picture {
    background-image: url("../img/gallery-modal-320-11.jpg");
  }

  .gallery__modal-item:nth-child(12) .gallery__modal-picture {
    background-image: url("../img/gallery-modal-320-12.jpg");
  }

  .about-wrapper {
    padding: 0;
  }

  .gallery-wrapper {
    padding: 0;
  }

  .catalog-wrapper {
    padding: 0;
  }

  .events-wrapper {
    padding: 0;
  }

  .catalog__accordion-list {
    max-height: none;
    height: auto;
  }

  .ymaps-2-1-79-balloon__layout {
    margin-left: 0;
  }
}